body {
  font-family: 'Source Sans Pro', Helvetica, Arial;
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $darkBlue;
  margin: 0;
  letter-spacing: 1px;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

button {
  font-size: 16px;
  background: none;
  border: 1px solid $main;
  color: $main;
  padding: 4px 16px;
  border-radius: 4px;
  transition: opacity 0.12s;
  
  &:hover {
    opacity: 0.7;
  }
}

// .mt-xs{}
// .mt-sm{}
// .mt-md{}
// .mt-lg{}
// .mb{}
// .ml{}
// .mr{}
// .ma{}
// .my{}
// .mx{}
