@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  font-family: '微軟正黑體';
  // font-family:  Helvetica, Arial;
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $darkBlue;
  margin: 0;
  // letter-spacing: 1px;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

button {
  font-size: 16px;
  background: none;
  border: 1px solid $main;
  color: $main;
  padding: 4px 16px;
  border-radius: 4px;
  transition: opacity 0.12s;
  
  &:hover {
    opacity: 0.7;
  }
}
.text-grey {
  color: #999;
}
.text-blue {
  color: rgb(60, 97, 177);
}

