$pink: #cd6798;
$blue: #2c3e50;
$green: #42b983;
$white: #fff;

$lightGray: #e1dcd9;
$brown: #8f8681;
$brickRed: #a67f78;
$darkBlue: #32435f;

$yellow: #ffe01f;
$ddd: #ddd;
$eee: #eee;


$main: $brickRed;
