@media print{
    /**大字體*/
    body .content .row{font-size: 16pt!important;line-height: 1.6em;}
    h5{font-size: 12pt;}
    h4{font-size: 14pt}
    h3{font-size: 18pt}
    h2{font-size: 20pt;}
    .l{width: 12%;}
    .r{width: 87%;}
    .l2{width: 10%;}
    .l3{width: 24%;}
    .r3{width: 74%;}
    .w24.mLeft{line-height: 1.6em;font-size: 17pt;}
    .education .w15{width: 13%;}
    .education .w53{width: 54%;}
    .company h4{width: 230px;}
    .mainBox .memo{line-height: 1.6em;}
}