/*共用*/
.box ul{padding: 0;margin: 10px 0;}
.box ul>li{list-style: none;line-height: 32px;padding-bottom: 6px;}
.box input[type="text"],textarea{border: 1px solid #ccc;border-radius: 3px;padding: 2px 5px;margin-right: 10px;}
.box textarea{line-height: 26px;}
.box input[type="checkbox"]{position: absolute;left: -99999px;}

.box label{position: relative;padding-left: 25px;cursor: pointer;}
.box label::before{content: "　";width: 16px;height: 15px;border: 1px solid #ccc;border-radius: 3px;display: inline-block;vertical-align: text-bottom;position: absolute;left: 0; top: 2px;line-height: 13px;text-align: center;}
.box input[type="checkbox"]:checked + label::before{content: "✔";background: #4077c9;color: #fff;font-size: 13px;}

.box a{color: #1385b7;}
.box a:hover,a:active{color: #23527c;}

.box{margin: 0 auto;padding: 7px 15px 15px;font-family: "微軟正黑體";font-size: 14px;color: #333; border: 1px solid #eee;letter-spacing: .5px;overflow: hidden;}

.w20{width: 20%;}
.w80{width: 80%;}
.w88{width: 88%;}
.Required{color: #e25656;font-family: "Arial";font-size: 14px;vertical-align: top;font-weight: 600;}


/*button*/
.bntAddBook{background: #199ed8;font-size: 13px;color: #fff;border: 0;height: 25px;line-height: 24px;padding: 0 15px;border-radius: 100px;}
.bntAddBook:hover{background: #217fba;cursor: pointer;}
.over{overflow : hidden;text-overflow : ellipsis;white-space : nowrap;}

.btnClear,.btnAddFile,.btnAdd{border: 2px solid #e25656;display: inline-block;padding: 0 15px;height: 23px;line-height: 23px;border-radius: 100px;font-size: 13px;cursor: pointer;font-weight: 600;}
.btnClear{color: #e25656;margin: 5px 0;}
.btnClear:hover{color: #b43336;border: 2px solid #b43336;}
.btnAddFile,.btnAdd{color: #199ed8;border: 2px solid #199ed8;}
.btnAddFile:hover,.btnAdd:hover{color: #217fba;border: 2px solid #217fba;}
.btnAddLiaison{display: inline-block;background: #199ed8;color: #fff;padding: 2px 10px;font-size: 13px;line-height: 18px;cursor: pointer;}
.btnAddLiaison:hover{background: #217fba;}

.btnView,.btnCancel,.btnSend{margin: 15px 5px;border-radius: 6px;font-size: 18px;font-weight: 600;border: 0;padding: 0 25px;height: 36px;}
.btnView{background: #00c6b6;color: #fff;}
.btnCancel{background:transparent;border: 1px solid #199ed8; color: #199ed8;font-weight: 100;}
.btnSend{background: #199ed8;color: #fff;}
.btnView:hover{background: #3baaa5;}
.btnCancel:hover{border: 1px solid #217fba;color: #217fba;}
.btnSend:hover{background: #217fba;}
.btnSearch{display: inline-block;background: #4f6b92;color: #fff;height: 25px;line-height: 25px;padding: 0 10px;border-bottom-right-radius: 6px;border-top-right-radius: 6px;cursor: pointer;}
.btnSearch:hover{background: #31447c;}


.dash{border: 1px dashed #ccc;}
.pySelect{appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url("../images/adown.png") no-repeat 97% center transparent;width:164px;height:25px;line-height: 23px;border-radius: 3px;padding-left:10px;background-color: #fff;cursor: pointer;margin-bottom: 5px;}  
.pySelect::-ms-expand{display: none;}
.pySelect:hover{opacity: 0.8;}
.jobList{background: url(../images/adown.png)no-repeat 97% center;cursor: pointer;}
.textAttention{font-size: 13px;color: #e25656;}
.textGray{color: #808080;}


