.wp{width: 690px;}
.header{border-bottom: 3px solid #199ed8;padding:0 15px 10px;margin:0 -15px;}
.header span{display: inline-block;}
.header img{vertical-align:bottom;}
.header .hTitle{font-size: 21px;font-weight: 600;color: #4f6b92;}
.header .viewingCount{width: 80%;text-align: right;}

.recipient i{position: absolute;background: #fff;color: #e25656;right: -8px;top: -4px;border-radius: 100px;}
.recipient i:hover{cursor: pointer;color: #b43336;}
.listCont .sended{background: #ffe6e0;}

.rmC{display: none;}

.footer{background: #f5f5f5;border-top: 2px solid #199ed8;margin: 0 -15px -15px;}
.footer div{width: 240px;margin: auto;}
